# Основные библиотеки для работы с данными и математическими операциями
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.2.2

# Работа с датами
python-dateutil==2.8.2

# Визуализация данных
matplotlib==3.7.5
seaborn==0.12.2

# Анализ нелинейных корреляций
phik==0.12.4

# Метрики и кросс-валидация
scipy==1.13.1

# Алгоритмы машинного обучения
lightgbm==4.5.0
catboost==1.2.7
imbalanced-learn==0.12.4

# Интерпретируемость модели
shap==0.44.1
